<%- include("partials/header") %>

<!-- post.ejs or your post detail template file -->

    <title><%= post.title %></title>
    <h1><%= post.title %></h1>
    <p><%= post.body %></p>


<%- include("partials/footer") %>
